.body {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 50px;
}

.areaBotoes {
    display: flex;
    flex-direction: column;
}

.areaBotoes button {
    margin-bottom: 26px;
    width: 172px;
    height: 42px;
    border-radius: 20px;
    background: #CCCBCB;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    cursor: pointer;
}

.areaBotoes button:active {
    box-shadow: none;
}

.areaBotoes button span {
    font-weight: 400;
    font-size: 20px;
}

.content .areaInput {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.content .areaInput input {
    width: 220px !important;
}

.content .areaPontosMedia {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 245px;
    margin-left: 25px;
}

.content .areaPontosMedia input {
    width: 90px !important;
}

.listaMaterias {
    position: relative;
    left: 50px;
    display: flex;
    flex-direction: column;
}

.cardMateria {
    display: flex;
    flex-direction: column;
    width: 295px;
    height: 149px;
    background-color: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-bottom: 31px;
}

.cardMateria span {
    margin-left: 20px;
}

.materiaTitulo {
    position: relative;
    top: 21px;
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 24px;
}

.infoMateria {
    font-weight: 400;
    font-size: 16px;
}

.areaTituloCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.botaoRemover {
    position: relative;
    top: 20px;
    right: 20px;
    width: 100px;
    height: 30px;
    border-radius: 50px;
    background-color: #59595a;
}

.botaoRemover span {
    color: #FFFFFF;
}

.botaoRemover:hover span {
    color: black;
}

.areaTarefa {
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid #000000;
    border-radius: 20px;
    left: 130px;
    width: 445px;
    min-height: calc(100vh - 185px);
    text-align: center;
}

.areaTarefa span {
    position: relative;
    top: 30px;
    font-weight: 400;
    font-size: 24px;
}

.botaoTarefa {
    float: left;
    width: 149px;
    height: 24px;
    margin-top: 50px;
    margin-left: 15px;
    background-color: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.botaoTarefa:hover {
    background-color: #D9D9D9;
    border: none;
}

.botaoTarefa:active {
    box-shadow: none;
}

table {
    width: 435px;
    margin-left: 5px;
    margin-top: 30px;
}

th {
    border-bottom: 1px solid black;
}